body{
  background-color:white;
}


/* header */ 

header{
 	display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 4rem;
    background-color: white;
}

.header-items{
  display:flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  margin-left:2rem;
  font-size:2rem;
}

#academy{
  color:gray;
}

nav ul {
    display: flex;
    margin-right: 1.5rem
}    

nav ul li {
    padding-left: 1rem;
}

/* body */ 

.learn-something{
  display: flex;
  background-color: rgb(230,230,230);
  padding-top: 4rem
}

.main-banner{
  width:60%;
  padding: 2rem 1.5rem;
}

.main-banner img{
  width:100%;
}


#everyday{  
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%; 
}

#everyday h1{
  font-size: 2rem;
  margin:1rem;
  line-height:3rem;
  font-weight:bold;

}

#everyday p{
	font-size: 2rem;
	margin:0rem 1rem;
    line-height: 3rem;
}

#start-here{  
    margin: 1rem 0;
    padding: .5rem 0;
    font-size:1.5rem;
    color: white;
    background-color: black;
    border: 5px solid black;
    text-align: center;
}

.keep-practicing{
  display:flex;
  margin-top:2rem;
  margin-bottom:2rem;
}

#left-column{
  width:60%;
  padding: 2rem 1.5rem;
}

#left-column img{
  width:100%;
}

#left-column h1{
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

#left-column p{
  font-size:1.5rem;
  line-height: 2rem;
  color: rgb(180,180,180);
}

#left-column h4{
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#right-column{
  display:flex;
  flex-direction:column;
  width: 40%;
  margin-top: 1rem;
  margin-bottom:2rem;
}  

#orientation-date{
  display:flex;
  align-items: flex-start;
}

#orientation-date img{
  width:35%;
  height: auto;
  margin-left: 1rem;
  margin-right: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}


#our-campus{
  display:flex;
  align-items: flex-start;
}

#our-campus img{
  width:35%;
  height: auto;
  margin-left: 1rem;
  margin-right: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  line-height:2rem;
}  

.content h2{
  font-size:2rem;
  font-weight:bold;
}

.content span{
  color: gray;
}

#our-guest{
  display:flex;
  align-items: flex-start;
  background-color:gray;
}  

#our-guest-content h2{
  font-size:2rem;
  font-weight:bold;
}

#our-guest-content span{
  color: gray;
}





.start-learning{
  display: flex;
  flex-direction: column;
  background-color: gray;
  padding-bottom: 2rem;
}

#start {
  align-self: center;
  font-size: 3.5rem;
  font-weight: bold;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.start-rows{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 4.5rem;
  margin-right: 4.5rem;
}

#row-1 {
  display: flex;
  margin-bottom: 2rem;
}

.course-titles{
  background-color: white;
  width: 100%;
  margin-right: 2rem;
}

.course-titles h2{
  font-size: 1.75rem;
  color: gray;
  font-weight: bold;
  background-color: white;
  padding-left: 1rem;
  padding-top: 1rem;
}

.courses{
  text-transform: uppercase;
  margin-top: .5rem;
  margin-bottom: .5rem;
  padding-left: 1rem;
}

.course-names{
  padding-left: 1rem;
  padding-bottom:1rem;
}

#row-2 {
  display: flex;
  margin-bottom: 2rem;
}




.thesis-exhibit{
  display: flex;
  flex-direction: column;
  background-color: white;
}

#thesis {
  align-self: center;
  font-size: 3.5rem;
  font-weight: bold;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.thesis-content {
    display: flex;
}

#thesis-column-1{
  width:60%;
  margin-left:2rem;
  margin-right:2rem;
  margin-bottom:2rem;
}

video{
  width:100%;
  background-color:gray;
}

#thesis-column-1 h2{
  font-size: 1.75rem;
  color: gray;
  font-weight: bold;
  padding-left: 1rem;
  padding-top: 1rem;
}

#thesis-column-1 p{
  margin-top: .5rem;
  margin-bottom: 2rem;
  padding-left: 1rem;
}

#thesis-column-2{
  width:40%;
}

#fisma{
  background-color:gray;
  display:flex;
}

#fisma img{
  margin: 1rem;
  width: 35%;
  height: auto;
}

#fisma-content{
  width:65%;
  flex-direction: column;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

#fisma-content h2{
  font-size:1.5rem;
  margin-bottom:.5rem;
}

#fisma-content p{
  font-size:1rem;
  color:lightgray;
}

#now{
  display:flex;
}

#now img{
  margin: 1rem;
  width: 35%;
  height: auto;
}

#now-content{
  width:65%;
  flex-direction: column;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}    

#now-content h2{
  font-size:1.5rem;
  margin-bottom:.5rem;
}

#now-content p{
  font-size: 1rem;
  color:gray;
}



footer{
  display:flex;
  justify-content: space-between;
  margin-top:1rem;
  margin-left:2rem;
  color:lightgray;
  border-top:solid lightgray;
}